.footer-container {
  padding: 1rem;
  display: flex;
  button {
    background-color: #6470fe;
    color: white;
    border: none;
    width: 40%;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
  }
  .footer-button-1 {
    width: 25%;
    text-align: right;
  }
  .footer-button-2 {
    position: absolute;
    right: 1%;
    width: 25%;
    text-align: right;
  }
}
.tab-title {
  margin: 0;
  padding: 0.5rem 0 0 2.2rem;
  color: #6470fe;
}
.required::after {
  content: " *";
  color: #ff0033;
}
.edit-tab-container {
  padding: 0 1rem;
}

.error-container {
  width: 50%;
  text-align: right;
}
.error-note {
  color: #ff0033;
  font-weight: bold;
}
.success-note {
  color: #0cf01f;
  font-weight: bold;
}
